.new-Button {
  border: solid;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin: 4px;
  transition: all 1.5s;
  user-select: none;
  background-color: rgba(0, 0, 0, 0);

  /* TEXT */
  font-size: 1em;
  color: rgba(255, 255, 255, 0.521);
  font-family: arial;
  font-weight: bold;
  letter-spacing: 2px;
}

.new-Button:hover {
  border: solid;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 6px;
  margin: 5px;
  transition: all 1.5s;
  /* cursor: none; */

  /* TEXT */
  font-size: 1.1em;
  color: rgb(255, 255, 255);
  font-family: arial;
  font-weight: bold;
  letter-spacing: 6px;
}